@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

a {
    color: #004d9f;
}
h1 {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2rem;
    color: #666;
}
.navbar {
    background-color: #B4A19E;
}